video {
  width: 100%    !important;
  height: auto   !important;
}
.center{
	text-align: center;
}
.table-responsive{
    overflow-x: auto;
}
.tab-pane{
	border-left: 6px solid #F38630;
	background-color: rgba(255,255,255,0.45);
}
.userAreaPanel{
	margin: 0 10px 10px 10px;
	padding-bottom: 16px;
	margin-bottom: 20px;
}
.overhid{
	overflow: hidden;
}
.justify{
	text-align: justify;
    text-justify: inter-word;
}
#annotationsContainer{
	overflow: scroll;
	height: 410px;
	background-color: #f9f9f9;
	padding: 8px;
	border: 1px solid #eaeaea;
}
.annotation{
	background-color: white;
	margin-bottom: 8px;
	padding: 8px;
	border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	-webkit-border-radius: 4px 0px 0px 0px;
	border-left: 6px solid #FA6900;
	background-color: #fff4ec;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	overflow: hidden;
	display: none;
}
.time{
	background-color: #E0E4CC;
	padding: 4px;
	display: inline-block;
	margin-top: 10px;
	float: right;
	font-size: .9em;
	cursor: pointer;
	border: 1px solid #ccd1b4;
}
.note{
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
	padding: 15px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	text-align: justify;
    text-justify: inter-word;
    background-color: rgba(255,255,255,0.36);
}
.datetime{
	float: right;
	margin-top: 10px;
	color: #FA6900;
}
.comment{
	background-color: #ffffff;
	padding: 15px;
	border: 1px solid #e5e5e5;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: justify;
    text-justify: inter-word;
}
#mainContainer{
	margin-top: 30px;
	margin-bottom: 40px;
}
#searchContainer{
	border-top: 1px solid #e3e3e3;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	overflow: hidden;
	padding: 20px;
}
#userField{
	margin-bottom: 12px;
}
#loginContainer{
	border-top: 1px solid #e3e3e3;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	overflow: hidden;
	padding: 25px;
	background-color: #f1eeee;
	margin-top: 120px;
}
.rightGroup{
	border-bottom: 1px solid #fafafa;
	padding-bottom: 6px;
	margin-top: 6px;
}
.rightGroup .value{
	font-weight: bold;
	font-size: 1.2em;
}